<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    {% extends 'main.html' %}
    {% block content %}
<style>
    body{
        background-image:url(https://i.pinimg.com/originals/d1/61/ab/d161ab5326a19e01b8491907ecefacdf.jpg);
        background-size:cover;
        backdrop-filter:blur(5px) ;
    }
    body h1{
        font-family:fantasy ;
        font-size:5rem;
        color:rgb(135, 133, 120);
    }
</style>
    <h4>
    About Us
       
    </h4>
        <p><i><b><u><b>Ember BOOKs</u></b>is India’s Largest and Cheapest Online Bookstore offering 40+ Million selections.<br>

“I declare after all there is no enjoyment like reading!”<br>
- Jane Austen, Pride and Prejudice.<br><br>
Dear readers,<br>

We offer a huge collection of books from diverse categories of Fiction, Non-fiction, Biographies, History, Religion, Self-Help, etc.<br> We also offer a collection of Investments and satisfaction by offering a user-friendly search engine,<br> efficient payment options and seamless delivery systems. Apart from all this, we also provide great deals and discounts on <br>our products.

All the Publishers,Distributors and Authors around the country are welcome to partner with us and grow the<br> "Ember "family. We would like to thank our customers for shopping with us. You can write to us on our e-mail id to share any <br>suggestions or feedback you might have regarding our website or services.</b></i></p>
      <div class="loc">
        <div class="pi">
    <img src="https://i.pinimg.com/736x/0a/e3/5e/0ae35e59943b2d13cb9df36f0e196d57.jpg">
</div>
        <h2>
        HOURS  &  LOCATION</h2>
        <h2>
        WELCOMEEEE!!</h2>
        <h3>TIMING</h3>
            <p>7:00a.m.–12:00 p.m.</p>
            <h4>Sundays also open<br>
                there is a special game play for couples and obviously singles too <br>
                ENJOY!
            </h4>
           <h3> ADDRESS</h3>

                 <p>18 King Street<br>
                   New York, NY 10014<br>
                  On the southwest corner of King Street and Sixth Avenue</p>
</div>

{% endblock content %}
</body>
</html>
    