<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appssss</title>
</head>
<style>
  body{
     background-image: url('https://i.pinimg.com/originals/cf/d4/fb/cfd4fb7bd79df5bd8e6a351c61fc17b1.jpg');
    background-size:contain;
    backdrop-filter: blur(4px);
  }
</style>
<body>
  {% extends 'main.html' %}
  {% block content %}
  <div class = "ember"><h2>~~Ember ^BOOK&~*</h2>
  </div>
<div class="header"> <p>My Fav fictional characters: 'wink'</p></div>
<div class="content"><h3>Hello!</h3>
  <p>Welcome to the Ember BOOKs store!</p></div>
 <div class="crud"> <a href = "{% url 'create-room' %}"><b>CRUD</b></a></div>
 
<div class="card-container">
<ul>
      {% for x in mymembers %}
        <li class="card"><b>{{ x.firstname }} {{ x.lastname }}</b>
          <p>Phone: {{x.phone}}</p>
          <p>Joined Date: {{x.joined_date}}</p>
          <p>About: {{x.about}}</p>
        </li>
          {% endfor %}
</ul>
        {% comment %} this div's css is in navbar .html after navbar css  {% endcomment %}
</div>

<div class ='footer'>
  <footer>
    <p>&copy;2024 Ember BOOKs</p>
  </footer>
</div>
{% endblock content %}
</body>
</html>

{% comment %} above code the for loop one ul one onlyyyy  is to display the models data we created in cmd on admin okkkk {% endcomment %}
{% comment %} in above lines other than for loop lines and ul lines we are extending the html file main.html in which 
we have navbar content connected and here we are doing template inheritance {% endcomment %}